body {
    background-color: beige;
    font-family: sans-serif;
}

h1 {
    color: cornflowerblue;
    text-align: center;
    font-family:sans-serif;
}

h2 {
    color: dodgerblue;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

h3 {
    color: aquamarine;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
}